* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fff;
  font-family: "Playfair Display", Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  color: #fff;
  font-size: 18px;
  line-height: 1.4;
  font-weight: 300;
}

@keyframes opacity {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.6;
  }
}

.opacity:hover {
  animation: opacity 0.3s ease forwards;
}
