.main-affiche {
  padding: 5rem 0 3rem;
  width: 100%;
  color: #000;
}

.main-affiche__title-wrapper {
  padding-top: calc((38px 32 * ((100vw - 320px) / (1280 - 320))) * 0.5);
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
}

.main-affiche__title {
  color: #000;
  position: absolute;
  top: calc((-38px - 32 * ((100vw - 320px) / (1280 - 320))) * 0.9);
  left: 10%;
  font-size: calc(38px + 32 * ((100vw - 320px) / (1280 - 320)));
  transform: translate(-150%, 0);
  animation: slipLeft 1s ease forwards 0.5s;
}

.main-affiche__hot {
  padding-top: 3rem;
}

.main-affiche__hot-title {
  padding: 0 10%;
  display: flex;
  font-family: "Yeseva One";
  font-size: calc(16px + 6 * ((100vw - 320px) / (1280 - 320)));
  font-weight: 600;
  text-transform: uppercase;
  width: 100%;
}

.main-affiche__hot-title::after,
.main-affiche__hot-title::before {
  border-bottom: 1px solid;
  content: "";
  flex: 1 1;
  margin: auto;
  min-width: 10%;
}

.main-affiche__hot-title::after {
  margin-left: 1rem;
}

.main-affiche__hot-title::before {
  margin-right: 1rem;
}

.main-affiche__slider-wrapper {
  padding: 2rem 0;
}

.slick-slide > div {
  margin: 1rem 1rem
}

.main-affiche__all-events {
  padding: 3rem 0;
}

.main-affiche__cards-wrapper {
  padding: 2rem 10% 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@keyframes slipLeft {
  to {
    transform: translate(0, 0);
  }
}

@media screen and (min-width: 624px) {
  .main-affiche__hot-slider {
    padding: 2rem 10% 0;
    overflow: visible;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

@media screen and (min-width: 1024px) {
  .main-affiche__hot-slider {
  }
}
