$white-theme-font-color: #000;
$white2-theme-font-color: #f1f2f4;
$dark-theme-font-color: #fff;

$color-disabled: rgba(191, 191, 191, 1); /* #bfbfbf */
$color-disabled-secondary: rgba(245, 245, 245, 1); /* #f5f5f5 */

$white-background-color: #fff;
$light-gray-background-color: #dfdfdf;
$dark-gray-background-color: #282a29;
$black-background-color: #000;
