.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 1000;
  padding: 15px 15px;
  padding-bottom: 30px;
  background-color: rgb(50, 50, 50);
  animation: filled 1s ease forwards;
}

@keyframes filled {
  to {
    background-color: #000;
    padding-bottom: 15px;
  }
}
