.main-header__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  overflow: hidden;
  background-image: url("../../../vendor/images/main-header/main-img.jpg");
  background-position: center;
  background-size: cover;
  z-index: -2;
}

.main-header__background::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.main-header__about {
  margin-top: 68vh;
  position: relative;
}

.main-header__title-wrapper {
  padding-top: calc((38px 32 * ((100vw - 320px) / (1280 - 320))) * 0.7);
  background-color: #000;
}

.main-header__title {
  position: absolute;
  top: calc((-38px - 32 * ((100vw - 320px) / (1280 - 320))) * 0.9);
  left: 10%;
  font-size: calc(38px + 32 * ((100vw - 320px) / (1280 - 320)));
  transform: translate(-150%, 0);
  opacity: 0;
  animation: slipLeft 1s ease forwards 0.5s;
}

.main-header__messengers {
  width: 100%;
  display: flex;
  padding: 0 15% calc((38px 32 * ((100vw - 320px) / (1280 - 320))) * 0.6);
  transform: translate(-120%, 0);
  animation: slipLeft 1s ease forwards 0.5s;
}

.main-header__messengers-list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.main-header__messengers-link {
  display: block;
  width: 30px;
  height: 30px;
}

.main-header__link-icon {
  width: 100%;
  height: 100%;
}

.main-header__subtitle-wrapper {
  padding: 70px 10% 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #282a29;
  position: relative;
}

.main-header__icon {
  position: absolute;
  top: 10px;
  left: 10%;
  width: 80%;
  height: 50px;
  background-image: url("../../../vendor/images/border/border__white.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__subtitle {
  text-align: center;
  text-transform: uppercase;
}

.text-style {
  font-family: "Cormorant Garamond", "Arial", serif;
  font-size: calc(16px + 6 * ((100vw - 320px) / (1280 - 320)));
  line-height: 1.1;
}

@media screen and (min-width: 624px) {
  .main-header__subtitle-wrapper {
    flex-direction: row;
    gap: 0;
  }

  .main-header__subtitle {
    flex: 1;
    padding: 15px;
  }

  .main-header__subtitle-one {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    text-align: end;
    padding-left: 0;
  }

  .main-header__subtitle-two {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    text-align: start;
    padding-right: 0;
  }
}
