.footer {
  background-color: #000;
  padding: 5rem 1rem 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(11px + 3 * ((100vw - 320px) / (1280 - 320)));
  gap: 0.5rem;
  position: relative;
  font-family: "Yeseva One";
  text-align: center;
}

.footer__gray-strip {
  position: absolute;
  top: 0;
  background-color: #282a29;
  width: 100%;
  height: 3rem;
}

.footer__email-info {
  color: #fff;
}

.footer__ooo {
  color: gray;
}
